.CounterInput {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px;
}

.CounterInput > span {
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    border: var(--border-text) solid var(--border);
    border-radius: 4px;
}